<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
  
    {{>navbar}}

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
         
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityname" placeholder="Enter your city name..." autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">

                </form>
            </div>

        </div>
      </div>
    </div>

    {{>footer}}

   {{>scripts}}
  </body>
</html>